
@{
    Layout = null;
}


<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Project Tracking System Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sign-in.css" rel="stylesheet" />

</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

    <main class="form-signin w-100 m-auto">
        
           
            <h1 class="h3 mb-3 text-center fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <br />
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <br />
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        
    </main>


</body>
</html>
